.disclamer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(16, 105, 140, 0.651);
    opacity: 1;
    transition: 0.7s 0s ease-in-out opacity;

    &.hide {
        opacity: 0;
    }

    &__text {
        margin: 40px 70px;
    }

    &__close-button {
        position: absolute;
        right: 30px;
        width: 15px;
        height: 15px;
        background: url('/images/delete.png');
        background-size: cover;
        border: none;
    }
    

}

