.filters {
    width: 276px;
    pointer-events: all; 
    
    &.active-filter {
        display: block;
        
    }

    &__buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__toggle-button {
        background: #10698C;
        border: 2px solid #4DC3CC;
        box-sizing: border-box;
        box-shadow: 0px 4px 9px rgba(127, 231, 241, 0.43);
        border-radius: 2px 2px 2px 2px;
        color: $primaryColor;
        font-weight: 300;
        font-size: 18px;
        padding: 5px 7px;
        text-transform: uppercase;
        vertical-align: middle;

        &:hover {
            background: #277999;
        }

        &__icon {
            display: inline-block;
            margin-left: 21px;
            width: 20px;
            height: 20px;
            background: url('/images/filters.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            vertical-align: sub;
        }
    }

    &__delete-button {
        background: #10698C;
        border: 2px solid #4DC3CC;
        box-sizing: border-box;
        box-shadow: 0px 4px 9px rgba(127, 231, 241, 0.43);
        border-radius: 2px 2px 2px 2px;
        color: $primaryColor;
        font-weight: 300;
        font-size: 18px;
        padding: 5px 7px;
        text-transform: uppercase;
        vertical-align: middle;

        &:hover {
            background: #277999;
        }

        &__icon {
            display: inline-block;
            margin-left: 21px;
            width: 20px;
            height: 20px;
            background: url('/images/delete.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 73%;
            vertical-align: sub;
        }
    }

    &__select-input {
        width: 100%;
        
    }

    &__form {
        transform: translateX(-150%);

        &.active-filter {
            transform: translateX(0%);
            transition-property: transform;
            transition-duration: 0.3s;
            transition-timing-function: ease-in-out;
            
        }
    }

    &__button {
        margin-top: 7px;
        width: 100%;
        background: #10698C;
        border: 2px solid #4DC3CC;
        box-sizing: border-box;
        box-shadow: 0px 4px 9px rgba(127, 231, 241, 0.43);
        border-radius: 2px 2px 2px 2px;
        color: $primaryColor;
        font-weight: 300;
        font-size: 18px;
        padding: 5px 7px;
        text-transform: uppercase;
        vertical-align: middle;
        display: flex;
        justify-content: space-between;


        &.active {

            .extent-icon {
                transform: rotate(90deg);
            }
        }

        &:hover {
            background: #277999;
        }

        &>i.extent-icon {
            display: inline-block;
            margin-left: 21px;
            width: 20px;
            height: 20px;
            background: url('/images/arrow.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 60%;
            vertical-align: sub;
            transition-property: transform;
            transition-duration: 0.3s;
            transition-timing-function: ease-in-out;
        }
    }

    &__select-input {
        display: none;
        margin-top: 7px;
        width: 100%;
        height: 0px;
        background: #10698C;
        border: 2px solid #4DC3CC;
        box-sizing: border-box;
        box-shadow: 0px 4px 9px rgba(127, 231, 241, 0.43);
        border-radius: 2px 2px 2px 2px;
        color: $primaryColor;
        font-weight: 300;
        font-size: 18px;
        padding: 5px 7px;
        text-transform: uppercase;
        vertical-align: middle;


        &.active {
            display: block;
            height: 160px;
        }

        &.filters__select-input::-webkit-scrollbar {
            width: 10px;
          }
          
          /* Track */
        &.filters__select-input::-webkit-scrollbar-track {
            border: 1px solid #7EE9F2;  
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
          }
           
          /* Handle */
        &.filters__select-input::-webkit-scrollbar-thumb {
            border-radius: 7.5px;
            background-color:#7EE9F2 ;
          }

          .filters__select-input::before{
              background-color: #10698C ;
          }

        option {
            font-weight: 300;
            font-size: 13px;
            line-height: 10px;
            height: 25px;
            background-color: #10698C;
            padding-top: 13px;
        }
        
        option:checked {
            color: white;
            background-color: #10698C;
        }
    }
} 

.is-active:after {
    content: url(/images/check.png);
}
