@font-face {
    font-family: "Monserrat";
    src: url("../fonts/Monserrat/Montserrat-Thin.ttf") format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: "Monserrat";
    src: url("../fonts/Monserrat/Montserrat-Light.ttf") format("truetype");
    font-weight: lighter
}

@font-face {
    font-family: "Monserrat";
    src: url("../fonts/Monserrat/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Monserrat";
    src: url("../fonts/Monserrat/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Monserrat";
    src: url("../fonts/Monserrat/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Monserrat";
    src: url("../fonts/Monserrat/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Monserrat";
    src: url("../fonts/Monserrat/Montserrat-Black.ttf") format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: "Monserrat";
    src: url("../fonts/Monserrat/Montserrat-ExtraBold.ttf") format("truetype");
    font-weight: 900;
}