.satellite-content__text__russian{
    position: absolute;
    left: 268px;
    top: 28px;
    font-size: 1.25em;
    font-weight: 300;
    line-height: 25px;
    animation: aparitionDate 1100s 3s ease-in-out;
    opacity: 0;
}


.satellite-content__text__american{
    position: absolute;
    left: 636px;
    top: 30px;
    font-size: 1.25em;
    font-weight: 300;
    animation: aparitionDate 1100s 5s ease-in-out;
    opacity: 0;
}


.satellite-content__text__first{
    position: absolute;
    left: 922px;
    top: 118px;
    width: 50%;
    font-size: 1.25em;
    font-weight: 300;
    animation: aparitionDate 1100s 6s ease-in-out;
    opacity: 0;
}

.satellite-content__text__communication{
    position: absolute;
    left: 951px;
    top: 183px;
    width: 50%;
    font-size:1.25em;
    font-weight: 300;
    animation: aparitionDate 1100s 7s ease-in-out;
    opacity: 0;
}

.satellite-content__text__explore{
    position: absolute;
    left: 929px;
    top: 267px;
    width: 50%;
    font-size: 1.25em;
    font-weight: 300;
    line-height: 25px;
    animation: aparitionDate 1100s 8s ease-in-out;
    opacity: 0;
}

.satellite-content__text__recognition{
    position: absolute;
    left: 829px;
    top: 355px;
    width: 50%;
    font-size: 1.25em;
    font-weight: 300;
    animation: aparitionDate 1100s 9s ease-in-out;
    opacity: 0;
}

.satellite-content__text__observation{
    position: absolute;
    left: 732px;
    top: 419px;
    width: 50%;
    font-size: 1.25em;
    font-weight: 300;
    animation: aparitionDate 1100s 10s ease-in-out;
    opacity: 0;
}


.satellite-content__text__military{
    position: absolute;
    left: 606px;
    top: 483px;
    width: 50%;
    font-size: 1.25em;
    font-weight: 300;
    animation: aparitionDate 1100s 11s ease-in-out;
    opacity: 0;
}

.satellite-content__text__1957{
    position: absolute;
    left: 365px;
    top: 97px;
    font-size: 28px;
}
 

.satellite-content__text__1958{
    position: absolute;
    left: 593px;
    top: 85px;
    font-size: 28px;
}


.satellite-content__text__1959{
    position: absolute;
    left: 759px;
    top: 112px;
    font-size: 28px;
}

.satellite-content__text__1962{
    position: absolute;
    left: 831px;
    top: 171px;
    font-size: 28px;
}

.satellite-content__text__1965{
    position: absolute;
    left: 773px;
    top: 264px;
    font-size: 28px;
}

.satellite-content__text__1977{
    position: absolute;
    left: 674px;
    top: 342px;
    font-size: 28px;
}

.satellite-content__text__1979{
    position: absolute;
    left: 551px;
    top: 409px;
    font-size: 28px;
}

.satellite-content__text__2013{
    position: absolute;
    left: 439px;
    top: 468px;
    font-size: 28px;
}


.satellite-content__img{
    position: absolute;
    width: 1000px;
    height: auto;
    left: 0px;
    bottom: -77px;
    }

@keyframes aparitionDate {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
