@import './parts/reset.scss';
@import './parts/fonts.scss';

$primaryColor: #BEF9FF;
$lightColor: #FFFFFF;
$darkColor: #373B53;
$mainShadow: 1px 1px 6px #7FE7F1;

body {
    font-family: 'Roboto';
    overflow: hidden;
    background: black;
}

h1, h2, h3, a, label, ul, li {
    color: $primaryColor;
    text-decoration: none;
    text-shadow: $mainShadow;
}

h1 {
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 129.6%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}


main {
    height: 100vh;
    background: linear-gradient(0deg, rgba(6, 4, 36, 0.85), rgba(6, 4, 36, 0.85)), url('/images/background.jpg');
    background-size: cover;
    background-position: center;
}

