@import './parts/reset.scss';
@import './parts/fonts.scss';

$primaryColor: #BEF9FF;
$lightColor: #FFFFFF;
$darkColor: #373B53;
$mainShadow: 1px 1px 6px #7FE7F1;

@import './parts/filters.scss';
@import './parts/webgl.scss';

body {
    font-family: 'Roboto';
    overflow: hidden;
    background: black;
    cursor: url('/images/cursor.png'), auto;	
}

button, select, option {
    font-family: 'Roboto';
}

h1, h2, h3, a, label, ul, li, p, option {
    color: $primaryColor;
    font-weight: 400;
    text-decoration: none;
    text-shadow: $mainShadow;
}

form, button, input, li, ul, option:hover{
    cursor: url('/images/cursor1.png'), pointer;
  
}


h1 {
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 140%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
}


main {
    height: 100vh;
    background: linear-gradient(0deg, rgba(6, 4, 36, 0.9), rgba(6, 4, 36, 0.9)), url('/images/background.jpg');
    background-size: cover;
    background-position: center;
    
}

.square-background {
    width: 100%;
    height: 100%;
    background: url('/images/square.png');
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 92%;
    width: 93%;
    position: relative;
}

.main-title {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 130%;
    
    &>span {
        font-size: 31px;
    }
}

.space-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
}

.satellites-number {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}